<h1>Counter App</h1>
<div style="text-align: center;">
    <h2 class="count">{{count}}</h2>
    <div>
        <button (click)="handleCounter('minus')" class="btn bg-red">Decreament</button>
        <button (click)="handleCounter('reset')" class="btn bg-black">Reset</button>
        <button (click)="handleCounter('plus')" class="btn bg-green">Increment</button>
    </div>
</div>

<div>
    <h1>Events</h1>
    <button class="clk" name="clk" (click)="handleEvent($event)">Click</button>
    <br>
    <br>
    <div (mouseenter)="handleEvent($event)" style="background-color: green; width: 100px;height: 100px;">
    </div>
    <div (mouseleave)="handleEvent($event)" style="background-color: blue; width: 100px;height: 100px;"></div>
    <br>
    <input type="text" name="user" (focus)="handleEvent($event)" (input)="handleEvent($event)"
        placeholder="Enter your name">
</div>